<!DOCTYPE html>
<html lang="en">
<!--  Head -->
<%- include('partials/head', {title}) %>
<body>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- TITLE SECTION -->
    <section class="title-section">
        <div class="all-info">
          <h1><span class="break-line">¿QUIÉNES</span> SOMOS?</h1>
          <p>Somos la única firma en Latinoamérica especializada en asuntos médico-legales;</p>
          <p>buscamos salvaguardar y proteger el prestigio, profesión y derechos de cualquier profesional de la salud. </p>
        </div>
    </section>
    <section class="cover-section">
        <h1 class="standard-title-white"><span class="break-line">¿QUÉ CUBR<span class="second-underline-title">E EL</span></span> BL<span class="first-underline-title">INDA</span>JE?</h1>
        <ul class="cover-list">
            <li>Defender médicos sin limite de gastos.</li>
            <li>Actuar ante cualquier signo de inconformidad por parte del paciente</li>
            <li>Defender con socios accionistas de la firma(obligados a pagar en caso de perder con recursos y/o dinero propio)</li>
            <li>Incluir defensa ilimitada en órganos internos (IMSS, ISSSTE, SSA, PEMEX)</li>
            <li>Defender casos políticos o de cualquier índole derivadade su práctica profesional.</li>
            <li>Contar con peritos altamente especializados en las diversas áreas médicas científicas. (Somos delegados del colegio federal de peritos)</li>
            <li>Defender el prestigio del médico en medios de comunicación.</li>
            <li>Incluir la opción de contrademandar</li>
            <li>Incluir el dolo eventual dentro del contrato.</li>
            <li>Entregar kit de documentos de blindaje             </li>
            <li>Otorgar asesoría ilimitada en cada una de las fases (preventiva y correctiva)</li>
            <li>Contar con línea de blindaje psicológico 24/7</li>
        </ul>
    </section>
    <section class="directors-section">
        <h1 class="standard-title-black">DIRE<span class="first-underline-title"><span class="second-underline-title">CTO</span></span>RES</h1>
        <div class="all-directors">
            <div class="director">
                <img src="/images/DSC_0001.jpg" alt="">
                <h2>Dr. Antonio Juárez Navarro</h2>
                <p>Fundador y Director General de Blindaje Médico Jurídico</p>
            </div>
            <div class="director">
                <img src="/images/DSC_0002.jpg" alt="">
                <h2>Lic. Nefi Juárez Navarro</h2>
                <p>Co-fundador y director de área preventiva de Blindaje Médico Jurídico</p>
            </div>
            <div class="director">
                <img src="/images/DSC_0003.jpg" alt="">
                <h2>Ing. Luis Alberto Zamora López</h2>
                <p>Director de área de ventas</p>
            </div>
            <div class="director">
                <img src="/images/DSC_0002.jpg" alt="">
                <h2>Lic. Nefi Juárez Navarro</h2>
                <p>Fundador y Director General de Blindaje Médico Jurídico</p>
            </div>
        </div>
    </section>
    <section class="delegates-section">
        <h1 class="standard-title-white">DELE<span class="first-underline-title"><span class="second-underline-title">GAD</span></span>OS DE</h1>
        <div class="all-delegates">
            <div class="delegate">
                <div class="del-img">
                    <img src="/images/logos/logo_1.png" alt="">
                </div>
                <p>ASESORES DEL COLEGIO DE MEDICINA CRÍTICA</p>
            </div>
            <div class="delegate">
                <div class="del-img">
                    <img src="/images/logos/logo_2.png" alt="">
                </div>
                <p>DELEGADOS DEL COLEGIO FEDERAL DE PERITOS</p>
            </div>
            <div class="delegate">
                <div class="del-img accpre">
                    <img src="/images/logos/logo_3.png" class="accpre" alt="">
                </div>
                <p>ASESORES INTERNACIONALES DE LA ACADEMIA COLOMBIANA DE CIRUGÍA PLASTICA RECONSTRUCTIVA ESTÉTICA</p>
            </div>
            <div class="delegate">
                <div class="del-img">
                    <img src="/images/logos/logo_4.png" alt="">
                </div>
                <p>FEDERACIÓN MEXICANA DE COLEGIOS DE ABOGADOS</p>
            </div>
            <div class="delegate">
                <div class="del-img">
                    <img src="/images/logos/logo_5.png" alt="">
                </div>
                <p>MIEMBROS DE LA COMISIÓN DE DERECHO MÉDICO Y SANITARIO DE LA FEMECA</p>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>

</html>