<!DOCTYPE html>
<html>
  <!--  Head -->
  <%- include('partials/head', {title}) %>
  <body>
    <!-- Header -->
    <%- include('partials/header') %>
    
    <!-- TITLE SECTION -->
    <section class="title-section">
      <div class="all-info">
        <h1><span class="break-line">BLINDAJE</span> MÉDICO JURÍDICO</h1>
        <p>Más de 8,000 asociados,</p>
        <p>Más de 14 años de experiencia</p>
        <button class="btn-more-info"><a href="/nosotros">Más info</a></button>
      </div>
    </section>
    <!-- SERVICES SECTION -->
    <section class="services-section">
      <h1 class="standard-title">UNI<span class="underline-title">CO</span>S EN</h1>
      <div class="all-services">
        <div class="service">
          <div class="service-logo"><i class="far fa-file-alt"></i></div>
          <div class="service-description">PAGAR CON PATRIMONIO PROPIO</div>
        </div>
        <div class="service">
          <div class="service-logo"><i class="fas fa-user-shield"></i></div>
          <div class="service-description">ENTENDER LA MEDICINA</div>
        </div>
        <div class="service">
          <div class="service-logo"><i class="fas fa-hospital"></i></div>
          <div class="service-description">CONTRADEMANDAS (RECONVENCIÓN)</div>
        </div>
        <div class="service">
          <div class="service-logo">
            <i class="fas fa-microphone-alt"></i>
          </div>
          <div class="service-description">ACTUAR DE MANERA PREVENTIVA</div>
        </div>
        <div class="service">
          <div class="service-logo">
            <i class="fas fa-file-signature"></i>
          </div>
          <div class="service-description">BLINDAJE DE HOSPITALES / CLÍNICAS</div>
        </div>
        <div class="service">
          <div class="service-logo"><i class="fas fa-tv"></i></div>
          <div class="service-description">DEFENSA MEDIOS DE COMUNICACIÓN EN AMERICA LATINA</div>
        </div>
      </div>
    </section>
    <!-- COUNTER SECTION -->
    <section class="counter-section">

      <p class="top-text">Más de</p>
      <div class="flip-clock">
        <div class="flip-number">8</div>
        <div class="flip-number">0</div>
        <div class="flip-number">0</div>
        <div class="flip-number">0</div>
      </div>
      <p class="bottom-text">médicos han puesto su confianza en nuestro equipo.</p>
    
    </section>
    <!-- NEWS SECTION -->
    <section class="news-section">
      <h1 class="standard-title">NO<span class="underline-title">TIC</span>IAS</h1>
      <iframe width="350" height="315" src="https://www.youtube.com/embed/irSdS22DzS8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="testimony">
        <h2>¿Qué es Blindaje Médico?</h2>
    <p>Conoce un poco más de nuestra firma...</p>
      </div>
       
    </section>
    <!-- Footer -->
    <%- include('partials/footer') %>
  </body>
</html>
