<footer class="footer-tg">
    <div class="footer-underline"></div>
    <div class="footer-social-navbar">
      <div class="social-media"><a href="https://www.facebook.com/juarezyasociadosblindajemedico" target="_blank"><i class="fab fa-facebook-f"></i></a></div>
      <div class="social-media"><a href="https://www.instagram.com/blindajemedicojuridico/" target="_blank"><i class="fab fa-instagram"></i></a></div>
      <div class="social-media"><a href="https://twitter.com/BlindajeMedicoJ" target="_blank"><i class="fab fa-twitter"></i></a></div>
    </div>
</footer>
<script src="/javascripts/index.js"></script>