<footer class="footer-tg">
    <div class="footer-underline"></div>
    <div class="footer-social-navbar">
      <div class="social-media"><a href="https://mx.linkedin.com/in/blindaje-medico-juridico-000a261b2"><i class="fab fa-linkedin-in"></i></a></div>
      <div class="social-media"><a href="https://www.facebook.com/juarezyasociadosblindajemedico" target="_blank"><i class="fab fa-facebook-f"></i></a></div>
      <div class="social-media"><a href="https://www.instagram.com/blindajemedicojuridico/" target="_blank"><i class="fab fa-instagram"></i></a></div>
      <div class="social-media"><a href="https://twitter.com/BlindajeMedicoJ" target="_blank"><i class="fab fa-twitter"></i></a></div>
      <div class="social-media"><a href="https://www.youtube.com/channel/UCu33O_lEifEwtOq6Hk40Ueg"><i class="fab fa-youtube"></i></a></div>
    </div>
</footer>
<script src="/javascripts/index.js"></script>