<header>
    <div class="main-header">
      <div class="left-header">
        <img src="/images/logo-blindaje.png" alt="" class="logo">
        <p class="actual-date">FECHA</p>
      </div>

      <div class="dropdown-menu">
        <button class="btn-toggle-bar" onclick="showMenu()"><i class="fas fa-bars"></i></button>
        <div id="dropdown-icon" class="dropdown-content">
          <div class="dropdown-list"><a href="/" >INICIO</a></div>
          <div class="dropdown-list"><a href="/nosotros" >¿QUIENES SOMOS?</a> </div>
          <div class="dropdown-list"><a href="/noticias" >NOTICIAS</a> </div>
          <div class="dropdown-list"><a href="/contacto" >CONTACTO</a></div>
        </div>
      </div>


      <div class="right-header">
        <ul class="main-navbar">
          <li class="menu-link"><a href="/" >INICIO</a></li>
          <li class="menu-link"><a href="/nosotros" >¿QUIÉNES SOMOS?</a></li>
          <li class="menu-link"><a href="/noticias" >NOTICIAS</a></li>
          <li class="menu-link"><a href="/contacto" >CONTACTO</a></li>
        </ul>
        <ul class="social-navbar">
          <li><i class="fab fa-linkedin-in"></i></li>
          <li><a href="https://www.facebook.com/juarezyasociadosblindajemedico" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://www.instagram.com/blindajemedicojuridico/" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://twitter.com/BlindajeMedicoJ" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><i class="fab fa-youtube"></i></li>
        </ul>
      </div>
    </div>
  </header>