<head>
  <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
  <link rel="icon" href="/images/LOGO-JB-02.png" type="image/x-icon" />
  <link rel="stylesheet" href="/stylesheets/<%= style %>.css" />
  <link rel="stylesheet" href="/stylesheets/partials.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
    rel="stylesheet"
  />
  <script
    src="https://kit.fontawesome.com/44355dc707.js"
    crossorigin="anonymous"
  ></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <title><%= title %> - BLINDAJE MEDICO JURIDICO</title>
</head>